extends layouts/login-layout.pug
block content
    .loginContainer 
        h1 register
        form#registerForm(method="post" onsubmit="event.preventDefault(); validateForm();")
            p.errorMessage #{errorMessage}
            .name 
                input(type="text", name="firstName", placeholder="first name", value=firstName, required="")
                input(type="text", name="lastName", placeholder="last name", value=lastName, required="")
            .details 
                input(type="text", name="username", placeholder="username", value=username, required="")
                input(type="text", name="email", placeholder="email", value=email, required="")
                input#password(type="password", name="password", placeholder="password", required="")
                input#passwordConf(type="password", name="confPassword", placeholder="confirm password", required="")
                input(type="submit", value="Register")

        a(href="/login") Already have an account? Login here.
    
    script.
        var passwordField = document.getElementById("password")
        var passwordConfirmField = document.getElementById("passwordConf") 
        var form = document.getElementById("registerForm")

        function validateForm() {
            if(passwordField.value != passwordConfirmField.value) {
                alert("Passwords do not match!");
            }
            else {
                form.submit();
            }
        }